/* Ini CSS */

.main-header {
    text-align: center;
}

.selection-content {
    display: flex;
    flex-direction: column;
}

.selection-btn {
    height: 32px;
    border: none;
    border-radius: 8px;
}

.bisque-color {
    background-color: bisque;
}

.aqua-color {
    background-color: white;
}

.luas-segitiga-header  {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background: cornflowerblue;
    text-align: center;
}

.luas-segitiga-content {
    display: flex;
    flex-direction: column;
}

.luas-segitiga-img {
    height: 300px;
    width: 300px;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTOHopTsoN_490kzqUw5uTolc43iGNWav9yhx88qhYupC2C1s1L);
    background-size: cover;
    background-position: center;
    align-self: center;
}