/* Ini CSS */

.main-header {
    text-align: center;
}

.selection-content {
    display: flex;
    flex-direction: column;
}

.selection-btn {
    height: 32px;
    border: none;
    border-radius: 8px;
}

.bisque-color {
    background-color: bisque;
}

.aqua-color {
    background-color: aqua;
}

.luas-segitiga-header  {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background: cornflowerblue;
    text-align: center;
}
